<div class="intro">
    <div class="container">
        <h1 class="intro-title">Магазин подарков</h1>
        <div class="intro-wrap">
            <div class="intro-item">
                <div class="intro-item__img">
                    <img src="./img/registration-icon.svg" alt="registration">
                </div>
                <p class="intro-item__text">
                    Регистрируйся в&nbsp;RocketProfit<br> и&nbsp;пускай&nbsp;траф на&nbsp;конвертящие&nbsp;офферы
                </p>
            </div>
            <div class="intro-item intro-item_center">
                <div class="intro-item__img">
                    <img src="./img/gift-money.svg" alt="gift-money">
                </div>
                <p class="intro-item__text">
                    Получай монеты RocketGOLD<br> за&nbsp;каждый апрувнутый&nbsp;лид
                </p>
            </div>
            <div class="intro-item">
                <div class="intro-item__img">
                    <img src="./img/present.svg" alt="present">
                </div>
                <p class="intro-item__text">
                    Выбирай подарки<br> и&nbsp;расплачивайся бонусом
                </p>
            </div>
        </div>
    </div>
    <a href="" class="btn intro-btn">Зарегистрироваться</a>
</div>

<main class="main">
    <div class="container">
        <div class="shop-info">
            <div class="shop-info__user-info">
                <div class="shop-info__title">
                    Подарки
                </div>
                <div class="shop-info__points">
                    <div class="shop-info__points-desc">Вы можете использовать количество баллов</div>
                    <div class="shop-info__points-number">1 847</div>
                </div>
            </div>
            <div class="shop-info__conditions">
                <div class="shop-info__conditions-icon">
                    <img src="img/page.svg" alt="" class="shop-info__conditions-img">
                </div>
                <a href="" class="shop-info__conditions-desc">Условия партнерской программы</a>
            </div>
        </div>
        <div class="shop">
            <div class="controls">
                <div class="controls__slide-down">
                    Все категории
                </div>
                <div class="controls__slide-down">
                    Сначала популярные
                </div>
                <div class="controls__slide-down">
                    Доступные мне
                </div>
                <div class="controls__search">
                    <div class="controls__search-input">Поиск по подаркам</div>
                    <div class="controls__search-icon">
                        <img src="img/dandruff.svg" alt="" class="controls__search-img">
                    </div>
                </div>
            </div>
            <ul class="shop__list">
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image3.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image2.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Fossil Coachman кварцевый</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
            </ul>
            <div class="show-more">
                <button class="btn btn_show-more">Показать еще 16</button>
            </div>
        </div>
    </div>
</main>


<div class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-item footer-left">
                <div class="footer-left__item">
                    <div class="footer-left__img">
                        <img src="./img/skype.svg" alt="skype">
                    </div>
                    <a href="skype:rocketprofit.cpa" class="footer-left__link">rocketprofit.cpa</a>
                </div>
                <div class="footer-left__item">
                    <div class="footer-left__img">
                        <img src="./img/mail.svg" alt="mail">
                    </div>
                    <a href="mailto:support@rocketprofit.com" class="footer-left__link">support@rocketprofit.com</a>
                </div>
            </div>
            <div class="footer-item footer-center">
                <p class="footer-center__text">© 2003-<span class="date-0" data-format="year">2222</span> RocketProfit.
                    Все&nbsp;права&nbsp;защищены.</p>
                <a href="" class="privacy-policy">Политика конфиденциальности</a>
            </div>
            <div class="footer-item footer-right">
                <a href="https://www.facebook.com/RocketProfit.ru" class="footer-right__link">
                    <img src="./img/facebook.svg" alt="facebook">
                </a>
                <a href="https://vk.com/rocketprofit" class="footer-right__link">
                    <img src="./img/vkontakte.svg" alt="vkontakte">
                </a>
                <a href="https://t.me/rocketprofit_com" class="footer-right__link">
                    <img src="./img/telegram.svg" alt="telegram">
                </a>
                <a href="http://cpaclub.org" class="footer-right__link">
                    <img src="./img/cpaclub.svg" alt="cpaclub">
                </a>
            </div>
        </div>
    </div>
</div>
