<main class="main">
    <div class="container">
        <div class="shop-info">
            <div class="shop-info__user-info">
                <div class="shop-info__title">
                    Подарки
                </div>
                <div class="shop-info__points">
                    <div class="shop-info__points-desc">Вы можете использовать количество баллов</div>
                    <div class="shop-info__points-number">1 847</div>
                </div>
            </div>
            <div class="shop-info__conditions">
                <div class="shop-info__conditions-icon">
                    <img src="img/page.svg" alt="" class="shop-info__conditions-img">
                </div>
                <a href="" class="shop-info__conditions-desc">Условия партнерской программы</a>
            </div>
        </div>
        <div class="shop">
            <div class="controls">
                <div class="controls__slide-down">
                    Все категории
                </div>
                <div class="controls__slide-down">
                    Сначала популярные
                </div>
                <div class="controls__slide-down">
                    Доступные мне
                </div>
                <div class="controls__search">
                    <div class="controls__search-input">Поиск по подаркам</div>
                    <div class="controls__search-icon">
                        <img src="img/dandruff.svg" alt="" class="controls__search-img">
                    </div>
                </div>
            </div>
            <ul class="shop__list">
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image3.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image2.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Fossil Coachman кварцевый</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop__item-img">
                        <img src="img/image4.png" alt="" class="shop__item-pic">
                    </div>
                    <div class="shop__item-category">Моноблок</div>
                    <h4 class="shop__item-title">Apple iMac 27</h4>
                    <p class="shop__item-desc">Apple iMac 27 с дисплеем Retina 5K MNE92</p>
                    <div class="shop__item-bottom">
                        <div class="shop__item-points">
                            <div class="shop__item-points-number">250</div>
                            <div class="shop__item-points-curr">поинтов</div>
                        </div>
                        <button class="btn btn_order">Заказать</button>
                    </div>
                </li>
            </ul>
            <div class="show-more">
                <button class="btn btn_show-more">Показать еще 16</button>
            </div>
        </div>
    </div>
</main>