@font-face{
  // или по класике подключаем в html по умолчанию так и сделано

 /* font-family: Bernier-Shade;
  src: local('Bernier-Regular'), проверим есть ли шрифт в системе
  url('/assets/fonts/bernier/shade/berniershade-regular.ttf'), если нет грузим
  url('/assets/fonts/bernier/shade/berniershade-regular.woof'),
  url('/assets/fonts/bernier/shade/berniershade-regular.woof2'),
  url('/assets/fonts/bernier/shade/berniershade-regular.eot'),
  url('/assets/fonts/bernier/shade/berniershade-regular.otf');
  font-weight: normal;  */


}

@font-face{

  font-family: 'MuseoSansCyrl';
  
  src: url('../../../fonts/MuseoSansCyrl.otf');
  
  font-weight: 100;
  
  font-style: normal;
  
}

@font-face{

  font-family: 'MuseoSansCyrl';
  
  src: url('../../../fonts/MuseoSansCyrl_0.otf');
  
  font-weight: 300;
  
  font-style: normal;
  
}

@font-face{

  font-family: 'MuseoSansCyrl';
  
  src: url('../../../fonts/MuseoSansCyrl_1.otf');
  
  font-weight: 500;
  
  font-style: normal;
  
}

@font-face{

  font-family: 'MuseoSansCyrl';
  
  src: url('../../../fonts/MuseoSansCyrl_2.otf');
  
  font-weight: 700;
  
  font-style: normal;
  
}

@font-face{

  font-family: 'MuseoSansCyrl';
  
  src: url('../../../fonts/MuseoSansCyrl_3.otf');
  
  font-weight: 900;
  
  font-style: normal;
  
}